<div class="flex min-h-screen mx-auto">
  <main class="flex-1 overflow-y-auto p-6">
    <header class="bg-white shadow px-6 py-4 flex items-center justify-between mt-5">
      <div class="flex items-center space-x-4">
        <h1 class="text-xl font-semibold"><%= time_based_greeting %>, <%= current_user.first_name %></h1>
        <h1 class="animate-pulse text-2xl">👋</h1>
      </div>
      <div class="flex items-center space-x-4">
        <div class="relative">
          <button class="bg-gray-200 p-2 rounded-full hover:bg-gray-300 hover:cursor-pointer">
            <svg class="h-6 w-6 text-gray-600" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6 6 0 10-12 0v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
            </svg>
          </button>
        </div>
        <div class='h-8 w-8 rounded-full'>
        </div>
      </div>
    </header>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
      <div class="mx-full p-6 bg-white rounded-lg shadow-md mt-6">
        <h2 class="text-2xl font-bold text-gray-700 mb-4">Today's Tasks</h2>
        <%= turbo_stream_from "tasks_#{current_user.id}" %>
        <%= turbo_frame_tag "tasks" do %>
          <% if @current_tasks.any? %>
            <% @current_tasks.each do |task| %>
              <%= turbo_frame_tag dom_id(task) do %>
                <%= render 'tasks/task', task: task %>
              <% end %>
            <% end %>
          <% else %>
            <p class="text-gray-500">No tasks for today. Why not create one?</p>
          <% end %>
          <div class="flex justify-between items-center pt-4 border-t mt-6">
            <%= render "tasks/button" %>
          </div>
        <% end %>
      </div>

      <div>
        <div class="mx-full p-6 bg-white rounded-lg shadow-md space-y-4 mt-6">
          <h2 class="text-2xl font-bold text-gray-700 mb-2">Habit Streaks</h2>
          <p class="text-gray-500">Placeholder for the Habit Streaks component (to be implemented).</p>
        </div>

        <div class="mx-full p-6 bg-white rounded-lg shadow-md space-y-4 mt-6">
          <h2 class="text-2xl font-bold text-gray-700 mb-2">Group Feed</h2>
          <p class="text-gray-500">Placeholder for the Group Feed component (to be implemented).</p>
        </div>
      </div>
    </div>
    <div class="mx-full p-6 bg-white rounded-lg shadow-md space-y-4 mt-6 mb-8">
      <h2 class="text-2xl font-bold text-gray-700 mb-2">Upcoming Overview</h2>
      <p class="text-gray-500">Placeholder for the Upcoming Overview calendar (to be implemented).</p>
    </div>
  </main>
</div>
