<div class="flex min-h-screen w-full">
  <main class="flex-1 overflow-y-auto p-6">
    <header class="bg-white w-full dark:bg-gray-800 rounded-lg px-5 py-3 flex items-center justify-between border border-gray-300">
      <div class="flex items-center space-x-4">
        <h1 class="text-xl font-semibold text-gray-600 dark:text-white"><%= time_based_greeting %>, <%= current_user.first_name %></h1>
        <h1 class="animate-pulse text-2xl">👋</h1>
      </div>
    </header>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-6 mt-6">
      <div class="border border-[#778dee] bg-[#e8ecfc] p-5 rounded-lg flex justify-between items-center">
        <div>
          <span class="font-semibold text-[#778dee]">Tasks today</span>
          <p class="text-2xl font-bold text-[#1c3fe2]">
            <%= render partial: "dashboard/task_count", locals: { completed: @completed_tasks_count, total: @current_tasks_count } %>
          </p>
        </div>
          <%= lucide_icon('square-check-big', class: "h-10 w-10 text-[#778dee]") %>
      </div>
      <div class="border border-[#e0b084] bg-[#fffaf5] p-5 rounded-lg flex justify-between items-center">
        <div>
        <span class="font-semibold text-[#e0b084]">
          Active habits
        </span>
        <p class="text-2xl font-bold text-[#e0b084]">
          0
        </p>
        </div>
        <%= lucide_icon('radar', class: "h-10 w-10 text-[#e0b084]") %>
      </div>
      <div class="border border-[#bca6e0] bg-[#f9f7fd] p-5 rounded-lg flex justify-between items-center">
        <div>
          <span class="font-semibold text-[#bca6e0]">Streaks</span>
          <p class="text-2xl font-bold text-[#bca6e0]">
            0
          </p>
        </div>
        <%= lucide_icon('trending-up', class: "h-10 w-10 text-[#bca6e0]") %>
      </div>
      <div class="border border-[#7dcaa7] bg-[#f2fcf7] p-5 rounded-lg text-gray-700 flex justify-between items-center">
        <div>
          <span class="font-semibold text-[#7dcaa7]">Team activities</span>
          <p class="text-2xl font-bold text-[#7dcaa7]">
            0
          </p>
        </div>
          <%= lucide_icon('users', class: "h-10 w-10 text-[#7dcaa7]") %>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
      <div class="mx-full p-6 bg-white dark:bg-gray-800 rounded-lg mt-6 border border-gray-300">
        <h2 class="text-2xl font-semibold text-gray-700 dark:text-white mb-4 flex items-center space-x-2"><%= lucide_icon('square-check-big') %> <span>Tasks Due Today</span></h2>
        <%= turbo_stream_from "tasks_#{current_user.id}" %>
        <%= turbo_frame_tag "tasks" do %>
          <%= render 'tasks/task_list', tasks: @current_tasks, pagy: @pagy %>
        <% end %>
        <%= render "tasks/button" %>
      </div>

      <div>
        <div class="mx-full p-6 bg-white rounded-lg space-y-4 mt-6 border border-gray-300">
          <h2 class="text-2xl font-semibold text-gray-700 mb-2 flex items-center space-x-2"><%= lucide_icon('radar') %> <span>Habit Streaks</span></h2>
          <p class="text-gray-500">Placeholder for the Habit Streaks component (to be implemented).</p>
        </div>

        <div class="mx-full p-6 bg-white rounded-lg space-y-4 mt-6 border border-gray-300">
          <h2 class="text-2xl font-semibold text-gray-700 mb-2 flex items-center space-x-2"><%= lucide_icon('users') %> <span>Group Feed</span></h2>
          <p class="text-gray-500">Placeholder for the Group Feed component (to be implemented).</p>
        </div>
      </div>
    </div>
    <div class="mx-full p-6 bg-white rounded-lg space-y-4 mt-6 mb-8 border border-gray-300">
      <h2 class="text-2xl font-semibold text-gray-700 mb-2">Upcoming Overview</h2>
      <p class="text-gray-500">Placeholder for the Upcoming Overview calendar (to be implemented).</p>
    </div>
  </main>
</div>
