<div id="<%= dom_id(message) %>" class="flex gap-3 py-2">
  <% message_user = message.user.decorate %>
  <div class="shrink-0">
    <% if message_user.avatar.attached? %>
      <%= image_tag message_user.avatar, alt: "User Avatar", class: "w-6 h-6 rounded-full" %>
    <% else %>
      <div class="w-6 h-6 rounded-full bg-gray-200 text-gray-600 flex items-center justify-center text-lg font-semibold mx-auto dark:bg-slate-900 dark:text-gray-400">
        <span class="sidebar-text hidden md:inline"><%= message_user.abbreviated_name || lucide_icon("user", class: "h-6 w-6") %></span>
      </div>
    <% end %>
  </div>
  <div class="grow">
    <div class="text-sm dark:text-white">
      <span class="font-medium text-gray-300"><%= message_user.full_name || message_user.email %></span>
      · <span class="text-xs text-gray-600"><%= time_ago_in_words(message.created_at) %> ago</span>
    </div>

    <div class="text-sm text-gray-600 dark:text-gray-100"><%= sanitize(message.body) %></div>
  </div>
</div>
