<%= turbo_frame_tag "tasks" do %>
  <div class="<%= 'grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3' if controller_name == 'tasks' %>">
    <% tasks.each do |task| %>
      <%= render 'tasks/task', task: task %>
    <% end %>
  </div>
  <% if tasks.empty? %>
    <div class="text-center text-gray-500 mt-6">
      <p>No tasks available.</p>
    </div>
  <% end %>
  <span class="text-gray-500 text-sm"><%= pagy_info(pagy).html_safe %></span>
  <% if pagy.count > Pagy::DEFAULT[:limit] %>
    <%= tailwind_pagy_nav(pagy) %>
  <% end %>
<% end %>
