<div class="w-full mx-auto p-6 bg-[#e7eefe]-50 dark:bg-slate-950">
  <div class="flex justify-between items-center mb-6">
    <div>
      <h1 class="text-3xl font-bold dark:text-white">Tasks</h1>
      <p class="text-gray-500 mb-4 text-sm sm:text-md font-normal dark:text-gray-400">Manage your tasks efficiently and stay productive.</p>
    </div>
    <%= render "tasks/button", class: "bg-purple-600 text-white hover:border-purple-600 hover:border hover:text-purple-600 hover:bg-white dark:hover:bg-transparent transition-colors dark:bg-white dark:text-gray-600" %>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div class="border border-gray-200 bg-white p-5 rounded-xl shadow-sm hover:shadow-md transition-shadow dark:bg-transparent dark:border-slate-800">
      <div class="flex items-center space-x-3 mb-3">
        <%= lucide_icon("clock", class: "w-6 h-6 text-gray-600 dark:text-gray-300") %>
        <p class="text-gray-600 font-semibold uppercase tracking-wide text-sm dark:text-gray-300">Pending Tasks</p>
      </div>
      <p class="text-blue-600 font-bold text-4xl">
        <%= turbo_frame_tag "pending_count" do %>
          <%= current_user.tasks.pending.size %>
        <% end %>
      </p>
      <p class="text-gray-500 text-sm dark:text-gray-400">Tasks remaining</p>
    </div>

    <div class="border border-gray-200 bg-white p-5 rounded-xl shadow-sm hover:shadow-md transition-shadow dark:bg-transparent dark:border-slate-800">
      <div class="flex items-center space-x-3 mb-3">
        <%= lucide_icon("circle-check-big", class: "w-6 h-6 text-gray-600 dark:text-gray-300") %>
        <p class="text-gray-600 font-semibold uppercase tracking-wide text-sm dark:text-gray-300">Completed</p>
      </div>
      <p class="text-green-600 font-bold text-4xl">
        <%= turbo_frame_tag "completed_count" do %>
          <%= current_user.tasks.completed.size %>
        <% end %>
      </p>
      <p class="text-gray-500 text-sm dark:text-gray-400">Tasks done</p>
    </div>

    <div class="border border-gray-200 bg-white p-5 rounded-xl shadow-sm hover:shadow-md transition-shadow dark:bg-transparent dark:border-slate-800">
      <div class="flex items-center space-x-3 mb-3">
        <%= lucide_icon("circle-alert", class: "w-6 h-6 text-gray-600 dark:text-gray-300") %>
        <p class="text-gray-600 font-semibold uppercase tracking-wide text-sm dark:text-gray-300">High Priority</p>
      </div>
      <p class="text-red-600 font-bold text-4xl">
        <%= turbo_frame_tag "high_priority_count" do %>
          <%= @tasks.high_priority.size %>
        <% end %>
      </p>
      <p class="text-gray-500 text-sm dark:text-gray-400">Urgent tasks</p>
    </div>
  </div>

  <%= turbo_stream_from "tasks_#{current_user.id}" %>
  <%= turbo_frame_tag "task_list" do %>
    <%= form_with url: tasks_path, method: :get, data: { turbo_stream: true }, class: "my-6" do %>
      <div class="flex flex-col md:flex-row md:items-center md:space-x-4 space-y-2 md:space-y-0">
        <%= hidden_field_tag :status, params[:status] %>
        <input type="text" name="search" placeholder="Search tasks..." value="<%= params[:search] %>" class="border border-gray-300 rounded-md px-4 py-1 w-full bg-transparent dark:border-slate-800 dark:bg-slate-950 dark:text-gray-200" />

        <select name="priority" class="border border-gray-300 rounded-md px-4 py-1 w-full md:w-1/4 bg-transparent dark:bg-slate-950 dark:border-slate-800 dark:text-gray-200">
          <option value="">All Priorities</option>
          <option value="high" <%= 'selected' if params[:priority] == 'high' %>>High</option>
          <option value="medium" <%= 'selected' if params[:priority] == 'medium' %>>Medium</option>
          <option value="low" <%= 'selected' if params[:priority] == 'low' %>>Low</option>
        </select>

        <button type="submit" class="bg-blue-600 text-white px-4 py-1 rounded-md hover:bg-blue-700 dark:bg-transparent dark:border-gray-600 dark:border dark:hover:bg-gray-700 dark:text-gray-200 dark:hover:text-white transition-colors cursor-pointer">
          Filter
        </button>
      </div>
    <% end %>
    <div class="mb-6 bg-gray-200 rounded-sm dark:bg-slate-800">
      <nav class="grid grid-cols-3 text-center" aria-label="Tabs">
        <%= link_to "All Tasks", tasks_path, data: { turbo_frame: "task_list" }, class: "whitespace-nowrap font-semibold text-md m-1 py-1 #{params[:status].blank? ? 'bg-white rounded-sm dark:bg-gray-900 dark:text-gray-300' : 'text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200'}" %>
        <%= link_to "Pending", tasks_path(status: 'pending'), data: { turbo_frame: "task_list" }, class: "whitespace-nowrap font-semibold text-md m-1 py-1 #{params[:status] == 'pending' ? 'bg-white rounded-sm dark:bg-gray-900 dark:text-gray-300' : 'text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200'}" %>
        <%= link_to "Completed", tasks_path(status: 'completed'), data: { turbo_frame: "task_list" }, class: "whitespace-nowrap font-semibold text-md m-1 py-1 #{params[:status] == 'completed' ? 'bg-white rounded-sm dark:bg-gray-900 dark:text-gray-300' : 'text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200'}" %>
      </nav>
    </div>
    <%= turbo_frame_tag "task_list_content" do %>
      <%= render 'tasks/task_list', tasks: @tasks, pagy: @pagy, source: params[:status] %>
    <% end %>
  <% end %>
</div>