<div class="fixed inset-0 z-50 flex items-center justify-center bg-black/40 dark:bg-black/70" data-controller="turbo-modal" data-turbo-modal-target="modal" data-action="keyup@window->turbo-modal#closeWithEscape click@window->turbo-modal#closeWithClickOutside">
  <div role="dialog" aria-modal="true" class="w-4/5 sm:w-full max-w-lg mx-auto bg-white p-6 rounded-lg shadow-xl transition-all">
    <h1 class="text-gray-600 mb-4">New Group</h1>
    <%= form_with model: group, local: false, class: "space-y-6" do |form| %>
      <% if group&.errors&.any? %>
        <div class="mb-4 text-red-600 bg-red-100 p-3 rounded">
          <p><strong><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</strong></p>
          <ul class="list-disc pl-5 mt-2">
            <% group.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div>
        <%= form.label :name, class: "block mb-1 text-sm font-medium text-gray-900" %>
        <%= form.text_field :name, required: true, class: "block w-full ps-3 p-2 rounded-md border border-gray-300 shadow-sm focus:border-purple-500 focus:ring focus:ring-purple-500 focus:ring-opacity-50 transition" %>
      </div>
      <div>
        <%= form.label :description, class: "block mb-1 text-sm font-medium text-gray-900" %>
        <%= form.text_area :description, class: "block w-full ps-3 p-2 rounded-md border border-gray-300 shadow-sm focus:border-purple-500 focus:ring focus:ring-purple-500 focus:ring-opacity-50 transition" %>
      </div>
      <div>
        <%= form.label :privacy, class: "block mb-1 text-sm font-medium text-gray-900" %>
        <p class="text-xs text-gray-500 mb-1">Choose the privacy level for this group.</p>
        <%= form.select :privacy, Group.privacies.keys.map { |f| [f.humanize.split(" ").first, f] }, {}, class: "block w-full ps-3 p-2 rounded-md border border-gray-300 shadow-sm focus:border-purple-500 focus:ring focus:ring-purple-500 focus:ring-opacity-50 transition" %>
      </div>
      <div class="pt-4 flex justify-between items-center">
        <%= form.submit(group.persisted? ? "Update Group" : "Create Group", class: "inline-flex items-center px-4 py-2 bg-purple-600 text-white text-sm font-medium rounded-md hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500 transition cursor-pointer") %>
        <%= button_tag "Cancel", type: "button", data: { action: "turbo-modal#close" }, class: "text-sm text-gray-600 hover:underline hover:cursor-pointer" %>
      </div>
    <% end %>
  </div>
</div>