<%= turbo_frame_tag dom_id(group) do %>
  <div class="border border-gray-200 bg-white p-4 rounded-xl hover:shadow-lg transition-shadow dark:bg-slate-950 dark:border-slate-800">
    <div class="flex space-x-3 justify-between items-start">
      <div class="flex items-center space-x-1">
        <div class="p-2 rounded-full bg-purple-100 flex items-center justify-center mr-2 dark:bg-purple-600">
          <%= lucide_icon("users", class: "w-5 h-5 text-purple-600 dark:text-purple-300") %>
        </div>
        <div class="">
          <h2 class="text-gray-600 font-semibold tracking-wide text-sm dark:text-gray-300"><%= group.name %></h2>
          <span class="rounded-3xl px-3 py-0.5 text-xs dark:bg-slate-800 dark:text-gray-200"><%= group.role_for(current_user) %></span>
        </div>
      </div>
      <div class="relative">
        <button type="button" class="rounded-full hover:bg-gray-100 text-gray-500 cursor-pointer p-0.5" id="group-actions-<%= group.id %>-menu" data-dropdown-placement="bottom" data-dropdown-toggle="group-actions-<%= group.id %>">
        <%= lucide_icon "ellipsis", class: "w-4 h-4" %>
      </button>
      <div id="group-actions-<%= group.id %>" class="hidden z-10 absolute">
        <ul aria-labelledby="group-actions-<%= group.id %>-menu" class="dark:bg-gray-900 dark:text-gray-200 box-border p-1 rounded-md dark:border dark:border-gray-600 bg-white shadow-lg">
          <li class="">
            <%= link_to lucide_icon("square-pen", class: "h-3 w-3 mr-1") + " Edit", edit_group_path(group), data: { turbo_frame: "modal" }, class: "flex items-center text-sm text-gray-700 hover:bg-gray-100 w-full dark:text-gray-300 rounded-sm px-2 py-0.5 dark:hover:text-gray-500 pr-5" %>
          </li>
          <li class="">
            <%= button_to lucide_icon("archive", class: "h-3 w-3 mr-1") + " Archive", "", method: :patch, data: { turbo_stream: true, turbo_confirm: "Are you sure?" }, class: "cursor-pointer flex items-center text-sm text-gray-700 hover:bg-gray-100 w-full dark:text-gray-300 rounded-sm px-2 py-0.5 dark:hover:text-gray-500 pr-5" %>
          </li>
          <li class="">
            <%= button_to lucide_icon("trash-2", class: "h-3 w-3 mr-1") + " Delete", group_path(group), method: :delete, data: { turbo_stream: true, turbo_confirm: "Are you sure?" }, class: "cursor-pointer flex items-center text-sm text-red-600 hover:bg-gray-100 rounded-sm w-full rounded-sm px-2 py-0.5" %>
          </li>
        </ul>
      </div>
      </div>

    </div>
    <p class="text-gray-500 text-sm my-3"><%= group.description %></p>
    <div class="flex items-center space-x-2 text-gray-500 text-xs justify-between">
      <span class="flex"><%= lucide_icon("users", class: "w-4 h-4 text-gray-400 mr-1") %> <%= group.members_count %> member</span>
      <span class="text-gray-500 text-xs ml-2">Created: <%= group.created_at.strftime("%b %d, %Y") %></span>
    </div>
    <% if is_owner?(group) || is_member?(group) %>
      <%= link_to "View Group", group_path(group), class: "mt-4 w-full flex items-center justify-center p-1.5 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500" %>
    <% else %>
      <%= button_to "Join Group", group_path(group), method: :post, class: "mt-4 w-full flex items-center justify-center p-1.5 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500" %>
    <% end %>
  </div>
<% end %>