<%= turbo_frame_tag "habits" do %>
  <div class="gap-3 grid <%= 'grid-cols-1 md:grid-cols-2 lg:grid-cols-3' unless page == 'dashboard' %>">
    <% habits.each do |habit| %>
      <%= turbo_frame_tag "habit_#{habit.id}" do %>
        <%= render 'habits/habit', habit: habit, extra_class: "" %>
      <% end %>
    <% end %>
  </div>
  <% if habits.empty? %>
    <div class="text-center text-gray-500 mt-6">
      <p class="text-gray-500">No habits found.</p>
    </div>
  <% end %>
  <span class="text-gray-500 text-sm"><%= pagy_info(pagy).html_safe %></span>
  <% if pagy.pages > 1 %>
    <%= tailwind_pagy_nav(pagy) %>
  <% end %>
<% end %>
