<nav class="bg-white shadow dark:bg-slate-950 dark:border-b dark:border-b-slate-600">
    <div class="px-6">
      <div class="flex justify-between items-center h-16">
        <% if user_signed_in? %>
          <button class="cursor-pointer text-gray-600 dark:text-gray-300 invisible sm:visible" data-controller="sidebar" data-action="click->sidebar#toggle">
            <%= lucide_icon("panel-left-close", class: "w-6 h-6 text-gray-600 dark:text-gray-300") %>
          </button>
          <div class="flex items-center space-x-4 relative" data-controller="dropdown">
            <button
              class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-1 focus:ring-gray-300 dark:focus:ring-gray-600 cursor-pointer"
              type="button"
              data-action="click->dropdown#toggle keydown.esc->dropdown#toggle click@window->dropdown#hide"
              data-dropdown-target="button"
            >
            <span class="sr-only">Open user menu</span>

            <% if current_user.avatar.attached? %>
              <%= image_tag current_user.avatar, alt: "User Avatar", class: "w-10 h-10 rounded-full mx-auto" %>
            <% else %>
              <div class="w-10 h-10 rounded-full bg-gray-200 text-gray-600 flex items-center justify-center text-lg font-semibold mx-auto dark:bg-slate-900 dark:text-gray-400">
                <span class="sidebar-text hidden md:inline"><%= current_user.decorate.abbreviated_name %></span>
              </div>
            <% end %>
            </button>

            <div
              role="menu"
              data-dropdown-target="menu"
              data-transition-enter="transition ease-out duration-100"
              data-transition-enter-start="transform opacity-0 scale-95"
              data-transition-enter-end="transform opacity-100 scale-100"
              data-transition-leave="transition ease-in duration-75"
              data-transition-leave-start="transform opacity-100 scale-100"
              data-transition-leave-end="transform opacity-0 scale-95"
              class="z-10 absolute hidden right-0 top-10 bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600"
            >
                <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                  <div class="font-semibold"><%= current_user.decorate.full_name %></div>
                  <div class="truncate"><%= current_user.email %></div>
                </div>
                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownUserAvatarButton">
                  <li>
                    <%= link_to "Profile", edit_user_registration_path, class: "block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" %>
                  </li>
                </ul>
                <div class="py-2">
                  <%= link_to "Sign out", destroy_user_session_path,
              data: { turbo_method: :delete, confirm: "Are you sure?" },
              class: "block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 transition" %>
                </div>
            </div>
          </div>

        <% else %>
        <div class="flex items-center justify-between space-x-4 w-full">
          <div class="text-2xl font-bold text-purple-600 hidden lg:inline full-logo">FocusHub</div>
          <div class="flex items-center space-x-4">
            <%= link_to "Sign up", new_user_registration_path, class: "px-4 py-1 bg-purple-600 text-white rounded-3xl hover:bg-purple-700 transition" %>
            <%= link_to "Log in", new_user_session_path, class: "px-4 py-1 bg-transparent border border-purple-600 text-purple-600 rounded-3xl hover:bg-purple-50 transition" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </nav>